{% extends "base.html" %}

{% block internal_css %}

<style>
    body {
        overflow-x: hidden;
        background-color: #f8f9fa;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #212529;
    }

    #wrapper {
        align-items: stretch;
        display: flex;
        min-height: 100vh; 
    }
  #wrapper > * {
        align-self: stretch;
    }
    #sidebar {
        min-width: 250px;
        max-width: 250px;
        background: black;
        color: #fff;
        transition: all 0.3s;
        top: 0;
        height: 100vh;
        overflow-y: auto;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

    #sidebar.collapsed {
        margin-left: -250px;
    }

    #sidebar .nav-link {
        color: black;
        font-weight: 500;
        background-color: white;
        margin-top: 10px;
        text-align: center !important;
        border: none;
        border-radius: 999px;
        letter-spacing: 1px;
        transition: 0.3s;
        box-shadow: 0;
    }

    #sidebar .nav-link:hover,
    #sidebar .nav-link.active {
        color: var(--text);
        background-color: var(--red);
        box-shadow: 0px 0px 15px var(--red-dim);
    }

    #content {
        flex-grow: 1;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        margin-top: 70px;
    }

    .table-responsive {
        overflow-x: auto;
    }

    .action-buttons {
        display: flex;
        gap: 0.4rem;
        flex-wrap: wrap;
    }

    .top-controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .card {
        border-radius: 1rem;
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 250px;
        right: 0;
        z-index: 999;
        border:none !important;
        background-color: black !important;
        color: white;
    }
    
    #topnav {
        width: calc(99% - 250px);
        left: 250px;
    }
    /* Sidebar Logo */
.sidebar-logo {
    width: 90px;
    height: 90px;
    object-fit: contain;
    margin-bottom: 5px;
    filter: drop-shadow(0 4px 10px rgba(0,0,0,0.4));
    transition: 0.3s;
}

.logout {
    color: var(--text) !important;
    background-color: var(--red) !important;
    letter-spacing: 1px;
    transition: 0.3s;
    box-shadow: 0;
}

.logout:hover {
    color: var(--red) !important;
    background-color: white !important;
    box-shadow: 0px 0px 15px var(--red-dim);
}

</style>

{% block additional_styles %}{% endblock %}

{% endblock %}


{% block content %}
<div id="wrapper">

    <nav id="sidebar" class="p-3 d-flex flex-column vh-100">
<div class="text-center mb-4 py-3">

    <img src="{{ url_for('static', path='img/logo.png') }}"
         class="sidebar-logo rounded-circle img-fluid">

</div>

        <ul class="nav nav-pills flex-column gap-2 flex-grow-1">
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center {{ 'active' if request.path == '/app' }}" href="/app">
                    <span class="material-symbols-outlined me-2">house</span>
                    Home
                </a>
                  <a class="nav-link d-flex align-items-center {{ 'active' if request.path == '/workout' }}" href="/workout">
                    <span class="material-symbols-outlined me-2">Exercise</span>
                    Workouts
                </a>
                  <a class="nav-link d-flex align-items-center {{ 'active' if request.path == '/trackcalories' }}" href="/trackcalories">
                    <span class="material-symbols-outlined me-2">meal_dinner</span>
                    Track Calories
                </a>
                  <a class="nav-link d-flex align-items-center {{ 'active' if request.path == '/recipes' }}" href="/recipes">
                    <span class="material-symbols-outlined me-2">chef_hat</span>
                    Recipes
                </a>
                <a class="nav-link d-flex align-items-center {{ 'active' if request.path == '/myaccount/' }}" href="/myaccount/">
                    <span class="material-symbols-outlined me-2">people</span>
                    MyAccount
                </a>
            </li>
            
            <li class="nav-item mt-auto">
                <a class="nav-link d-flex align-items-center text-danger logout" href="/logout">
                    <span class="material-symbols-outlined me-2">logout</span>
                    Logout
                </a>
            </li>
        </ul>
    </nav>

    <div id="content">
        <nav class="navbar navbar-expand-lg mb-4 px-3" id="topnav">
            <button class="btn btn-outline-light" id="menu-toggle">
                <span class="material-symbols-outlined fw-semibold">menu</span>
            </button>

            <div class="ms-auto d-flex align-items-center gap-3">
                <span class="fw-semibold">Welcome, {{user.username}}</span>
            </div>
        </nav>
        
        <div class="row">
            <div class="col-12">
                {% for message in get_flashed_messages(request) %}
                    <div class="alert alert-{{ message.type }}" role="alert">{{ message.message }}</div>
                {% endfor %}
            </div>
        </div>


        {% block subpage_content %}{% endblock %}

    </div>


</div>


<script>
    document.getElementById("menu-toggle").addEventListener("click", function () {

        let sidebar = document.getElementById("sidebar");
        let topnav = document.getElementById("topnav");

        sidebar.classList.toggle("collapsed");

        if (sidebar.classList.contains('collapsed')){
            topnav.style.left = "0px";
            topnav.style.width = "99%";
        } else {
            topnav.style.left = "250px";
            topnav.style.width = "calc(99% - 250px)";
        }
    });
</script>

{% block subpage_scripts %}{% endblock %}

{% endblock %}