{% extends "base.html" %}
 
{% block title %}Log In{% endblock %}
 
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', path='css/login.css') }}">
</head>

<div class="auth-box">
    <div class="auth-container">
        <form id="loginForm" method="POST">
            <div class="auth-top-header">
                <h2 class="auth-form-title">LOGIN</h2>
            </div>
            <div class="auth-input-field">
                <input type="text" class="input" id="login-username" placeholder="Username" name="username" required>
            </div>
            <div class="auth-input-field">
                <input type="password" class="input" id="login-password" placeholder="••••••••" name="password" required>
            </div>
            <div class="auth-input-field">
                <button type="submit" class="submit">LOG IN</button>
            </div>
            <div class="auth-footer">
                Don't have an account?
                <a class="auth-link" href="{{url_for('register_view')}}">Sign up</a>
            </div>
    
        </form>
    </div>
</div>
{% endblock %}
