{% extends "base.html" %}
 
{% block title %}Register{% endblock %}
 
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', path='css/login.css') }}">
</head>
 
<div class="auth-box">
    <div class="auth-container">
        <form id="signUpForm" method="POST">
            <div class="auth-top-header">
                <h2 class="auth-form-title">REGISTER</h2>
            </div>
            <div class="auth-input-field">
                <input type="text" class="input" id="username" placeholder="Username" name="username" required>
            </div>
            <div class="auth-input-field">
                <input type="email" class="input" id="email" placeholder="Email" name="email" required>
            </div>
            <div class="auth-input-field">
                <input type="password" class="input" id="password" placeholder="••••••••" name="password" required>
            </div>
            <div class="auth-input-field">
                <button type="submit" class="submit">SIGN UP</button>
            </div>
            <div class="auth-footer">
                Already have an account?
                <a class="auth-link" href="{{ url_for('login_view') }}">Log in</a>
            </div>
 
            {% for message in get_flashed_messages(request) %}
            <div class="alert alert-{{ message.type }}">{{ message.message }}</div>
            {% endfor %}
        </form>
    </div>
</div>
 
{% endblock %}
 